.main{

    margin-right: 35%;
    margin-left: 35%;
    padding-top: 5%;
    padding-bottom: 2%;
    border-radius: 25px;
    background-color: #b2dba1;
}

.study{
    position:relative;
}
.shadow:focus+.advantage,
.shadow:hover+.advantage{
    left: 50%;
}
.advantage{
    background:white;
    border-radius: 5px;
    left: -999em;
    margin-left: -111px;
    padding: .5em 0 .9375em .9375em;
    position: absolute;
    top: -75px;
    width: 222px;
    font-family: 华文中宋;
    font-size: large;
}

.advantage:after{
    border: solid transparent;
    border-top-color: white ;
    border-width: 15px;
    content: " ";
    margin-left: -15px;
    height: 0;
    left: 50%;
    position: absolute;
    top:99.9%;
    width: 0;
}
.clearfix:before,
.clearfix:after{
    content: " ";
    display: table;
}
.clearfix:after{
    clear: both;
}
.clearfix{
    *zoom: 1;
}
.buy{
   font-family: 幼圆;

}
.bu{
    border-radius: 2px;


}
